<%= form_for @house do |f| %>
    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>

        <td><%= f.label :motto %></td>
        <td><%= f.text_field :motto %></td>
      </tr>

      </tr>
      <tr>

        <td><%= f.label :banner_url %></td>
        <td> <%= f.text_field :banner_url %></td>
      </tr>

      <tr>
        <td><%= f.label :home %></td>
        <td><%= f.text_field :home %></td>
      </tr>
    </table>
    <%=	 f.submit %>
<%	 end %>